.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  @apply text-gray-100;
}
.dots {
  display: inline-block;
  font-size: 2rem; /* Sesuaikan ukuran font */
}

.dots::after {
  content: " . . .";
  animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    content: " ";
  }
  40% {
    content: " .";
  }
  60% {
    content: " . .";
  }
  80%,
  100% {
    content: " . . .";
  }
}
